<div class="min-h-screen px-4 sm:px-12 lg:px-48 pt-20">
  <%= render "backoffice/layouts/header",
    title: "New Exercise",
    link_text: "Back to Exercises",
    link_path: backoffice_exercises_path
  %>
  <%= render "form", exercise: @exercise %>
</div>
