<div class="min-h-[calc(100vh-64px)] px-32 pt-20">
  <%= render "backoffice/layouts/header",
    title: "Showing Exercise",
    link_text: "Back to Exercises",
    link_path: backoffice_exercises_path
  %>
  <%= render @exercise %>
  <%= link_to "Edit this exercise", edit_backoffice_exercise_path(@exercise), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this exercise", backoffice_exercise_path(@exercise), method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
  </div>
</div>
