<div class="min-h-screen px-4 sm:px-12 lg:px-48 pt-20">
  <%= render "backoffice/layouts/header",
    title: "New Workout",
    link_text: "Back to Workouts",
    link_path: backoffice_workouts_path
  %>
  <%= render "form", workout: @workout %>
</div>
