<div class="min-h-[calc(100vh-64px)] px-32 pt-20">
  <%= render "backoffice/layouts/header",
    title: "Showing Workoutt",
    link_text: "Back to Workouts",
    link_path: backoffice_workouts_path
  %>
  <%= render @workout %>
  <%= link_to "Edit this workout", edit_backoffice_workout_path(@workout), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to "Destroy this workout", backoffice_workout_path(@workout), method: :delete, class: "mt-2 rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium" %>
  </div>
</div>
