<div id="<%= dom_id workout_sheet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title: </strong>
    <%= workout_sheet.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name User:</strong>
    <%= workout_sheet.user.name %>
  </p>
</div>
