<div class="min-h-screen px-4 sm:px-12 lg:px-48 pt-20">
  <%= render "backoffice/layouts/header",
    title: "Edit Workout Sheet",
    link_text: "Back to workout sheets",
    link_path: backoffice_workout_sheets_path
  %>
  <%= render "form", workout_sheet: @workout_sheet %>
</div>
