<div class="relative w-full">
  <% content_for :title, "New Workout Sheet" %>
  <div class="flex justify-between items-center pb-4">
    <h1 class="text-xl font-bold text-gray-800 dark:text-black">
      New Workout Sheet
    </h1>
    <%= link_to "Back to Workout Sheets", workout_sheets_path,
      class: "px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 dark:focus:ring-blue-800"
    %>
  </div>
  <%= render "form", workout_sheet: @workout_sheet %>
</div>
