<div class="relative w-full">
  <% content_for :title, "Edit Exercise" %>
  <div class="flex justify-between items-center pb-4">
    <h1 class="text-xl font-bold text-gray-800 dark:text-black">
      New Exercise
    </h1>
    <%= link_to "Back to users", exercises_path,
      class: "px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 dark:focus:ring-blue-800"
    %>
  </div>
  <%= render "form", exercise: @exercise %>
</div>
