<div class="min-h-screen px-4 sm:px-12 lg:px-48 pt-20">
  <%= render "backoffice/layouts/header",
    title: "Edit User",
    link_text: "Back to users",
    link_path: backoffice_users_path
  %>
  <%= render "form", user: @user %>
</div>
